<% a = Program.find @instruction.program_id %>

<%= render 'topnav' %>
<div id="spy" class="container-fluid" data-spy="scroll" data-target="#navbar" data-offset="200">
  <div class="row-fluid">
    <div class="span12 hero-unit">
      <h1><%= @instruction.name %></h1>
      <p><%= @instruction.description.html_safe %></p>
    </div> <!--end intro text-->
  </div> <!--end intro row-->
  <% @instruction.steps.each_with_index do |step, index| %>
  <% counter = index +1 %>
  <div id="step<%= counter%>" class="row-fluid stepRow"> <!-- step one row -->
    <div class="offset1 spacer">
      <div class="span8">
        <h2><span class="step">Step <%= index + 1 %>:</span> <%= step.name %></h2>
        <% if step.description? %>
          <p><%= step.description.html_safe %></p>
        <% end %>
      </div>
    <% if step.docs? %>
      <div class="span4 well">
        <h5>Things you need for this step</h5>
        <ul class="unstyled">
          <li><%= step.docs %></li>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
  <% end %> 
</div>  

<%= link_to 'Edit', edit_program_instruction_path(@program, @instruction) %>

