<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instruction.name %>
</p>

<p>
  <b>Step:</b>
  <%= @instruction.step %>
</p>

<p>
  <b>Description:</b>
  <%= @instruction.description %>
</p>
<p>
  <b>Documents:</b>
  <%= @instruction.documents %>
</p>
<p>
  <b>Program name:</b>
  <%= @program.name %>
</p>



<%= link_to 'Edit', edit_instruction_path(@instruction) %> |
<%= link_to 'Back', instructions_path %>
