<div class="container-fluid">
  <div class="row-fluid">
    <h1>All programs</h1>
    <div class="span12">
      <% @programs.each do |program| %>
      <div class="span8 offset1">
        <h2><%= link_to program.name, program, :class => 'step' %></h2>
        <h5><%= program.description %></h5>
        <% a = Instruction.find_by_sql ["Select name, id from instructions where program_id = ?", program.id] %>
        <div>Learn about <%= program.name %>
          <ul class="unstyled">
            <% a.each do |b|%>
              <li><%= link_to b.name, program_instruction_path(program.name, b.id) %></li>
            <% end %>
          </ul>
        </div>
      </div>    
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'New Program', new_program_path, :class => 'btn btn-primary offset5' %>
