<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 offset1">
      <h2><%= link_to @program.name, @program, :class => 'step' %></h2>
      <h5><%= @program.description %></h5>
      <% a = Instruction.find_by_sql ["Select name, id from instructions where program_id = ?", @program.id] %>
      <div>Learn about <%= @program.name %>
        <ul class="unstyled">
          <% a.each do |b|%>
            <li><%= link_to b.name, program_instruction_path(@program.id, b.id) %></li>
          <% end %>
        </ul>
      </div>
      <%= link_to 'New instruction', new_program_instruction_path(@program), :class => 'btn btn-inverse offset3' %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
