<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @step.name %>
</p>

<p>
  <b>Stepnumber:</b>
  <%= @step.stepnumber %>
</p>

<p>
  <b>Description:</b>
  <%= @step.description %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
